#ControlCenter {
    background-color: #e1eff0; /* Light Blue */
    height: 95vh;
    width: 75vw;
    position: fixed;
    right: 0vw;
    bottom: 0vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    transition: all 0.5s ease; /* Smooth transition between hidden and visible states */
}


#ControlCenter.hidden {
    display: none;
}

#ControlCenter.normal {
    display: flex; /* Display the ControlCenter when 'normal' is applied */
}

#VideoCenter, #WebcamCenter {
    background-color: grey;  /* Set the background color to grey */
    position: relative;
    border-radius: 15px;
    border: none;
    overflow: hidden;
}

#WebcamCenter.normal, #VideoCenter.toggled {
    position: absolute;
    top: -4vh;               
    right: 0vw;
    width: 100%;               /* Set the video width to fill the parent container */
    height: 100%;              /* Set the video height to fill the parent container */
    max-width: 450px;           /* Normal max width */
    max-height: 300px;          /* Normal max height */
    z-index: 1002;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
    border: 3px solid #fdfdbe;
} 

#WebcamCenter.toggled, #VideoCenter.normal {
    position: absolute;
    left: 0vw;               /* Set 40px from the top */
    top: 2vh; 
    width: 960px;               /* Set the video width to fill the parent container */
    height: 720px;              /* Set the video height to fill the parent container */
    max-width: 960px;           /* Toggled max width */
    max-height: 720px;          /* Toggled max height */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 0.5s ease;
} 

/* Video element classes for different states */
#webcam.normal {
    width: 100%;               /* Set the video width to fill the parent container */
    height: 100%;              /* Set the video height to fill the parent container */
    max-width: 450px;           /* Normal max width */
    max-height: 300px;          /* Normal max height */
    object-fit: cover;          /* Maintain aspect ratio and fill the container */
    overflow: hidden;           /* Ensure the content stays within the rounded corners */
    transition: all 1.0s ease;
}

#webcam.toggled {
    width: 100%;               /* Set the video width to fill the parent container */
    height: 100%;              /* Set the video height to fill the parent container */
    max-width: 960px;           /* Toggled max width */
    max-height: 720px;          /* Toggled max height */
    object-fit: cover;          /* Maintain aspect ratio and fill the container */
    overflow: hidden;           /* Ensure the content stays within the rounded corners */
    transition: all 1.0s ease;
}

#ButtonsContainer {
    position: absolute;
    bottom: 0.5vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    z-index: 1001;
    border: none;
}

button {
    flex: 1; /* Make buttons equal in width */
    padding: 5px 10px;
    font-size: 1.2rem;
    background-color: #4F647B; /* Dark Slate Blue */
    color: rgb(248, 229, 152);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 0 40px;
    height: 7vh; /* Increase the height by 50% */
}

button:last-child {
    margin-right: 0; /* Remove right margin for the last button */
}

button:last-child {
    margin-right: 0; /* Remove right margin for the last button */
}

.launcher {
    position: relative;
    width: 75%;
    height: 60%;
}

.launcher::before {

    z-index: 0; /* Establish a stacking context */
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1; /* Ensure the background is behind the content */
}

#Timer-Board {
    position: absolute;
    top: -4vh;
    left: 2vw;
    font-size: 20px;
    color: white;
    background-color: #4F647B; /* Dark Slate Blue */
    padding: 10px 25px;
    border-radius: 10px;
    z-index: 1001; /* Ensure it is above other elements */
}