body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f7f7f7;
  }
  
  h1 {
    color: #007f8b;
  }
  
  #webcam {
    display: block;
    margin: 20px auto;
    border: 2px solid #007f8b;
    transform: rotateY(180deg);
  }
  
  #output_canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid #007f8b;
    transform: rotateY(180deg);
  }
  
  button {
    background-color: #007f8b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #005f6b;
  }
  
  .output {
    margin: 10px auto;
    font-size: 16px;
    color: #007f8b;
    text-align: center;
  }
  