.Container {
  display: flex;
  width: 95%;

  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 10rem 0 16rem 0;
  transition: padding 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.HeaderTitle {
  color: var(--ifm-navbar-link-color);
  font-size: var(--ifm-font-size-24);
  font-weight: normal;

  transition: font-size 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.SeparatorText {
  color: var(--ifm-navbar-link-active-color);
  font-size: var(--ifm-font-size-24);
}

.buttonText {
  font-size: var(--ifm-font-size-22);
}

.DescriptionText {
  font-size: var(--ifm-font-size-24);
  max-width: 400px;
  margin: 0;

  transition: font-size 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
}

@media (max-width: 996px) {
  .BarklarmImage {
    opacity: 0;
  }
}


.HeaderTyper {
  color: var(--ifm-navbar-link-color);
  font-size: var(--ifm-font-size-32);
  font-weight: bold;
  justify-content: center;

}

@media (max-width: 768px) {
  .Container {
    padding: 8rem 0 0 0;
    justify-content: center;
    text-align: center;
  }


  .ButtonContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .GetStartedButton {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 2rem 0 5rem 0 !important;
  }
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Align children (button) to the right */
}

.StyledButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
}

.StyledButton:hover {
  background-color: #f8f8f8;
  border-color: #aaa;
}

.ButtonIcon {
  font-size: 18px;
  margin-right: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .StyledButton {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 15px;
  }
}

@media (max-width: 480px) {
  .StyledButton {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 12px;
  }
}

.startButton {
  background: #4CAF50;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s;
}

.startButton:disabled {
  background: gray;
  cursor: not-allowed;
}

.startButton:hover {
  background: #45A049;
  transform: scale(1.05);
}

.tabMarker {
  background: #ffcc00;
  color: black;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.error {
  color: red;
  margin-top: 15px;
  font-weight: bold;
}
